mat-grid-tile {
    background: rgb(219, 133, 133);
  }
.text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 8px;
  font-size: x-large;
  line-height: 1cm;
}
.title{
  font-size: xx-large;
  text-align: center;
}

.mat-toolbar-row{
  margin-top: 0%;
  background-color:rgb(43, 226, 119);
  color: black;
}

.span {
  margin: auto;
  padding-top: 0%;
}

table {
  width: 80%;
  align-items: center;
}

.tabla{
  //text-align: center;
  padding-left: 20%;
  padding-right: 5%;
}


.span {
margin: auto;
padding-top: 0%;
}
.mat-toolbar-row{
margin-top: 0%;
background-color:rgb(43, 226, 119);
color: black;
}

.carousel{
  align-items: center;
}

ngb-carousel{
  margin: auto;
  width: 95%;
  padding: 10px;
}
//////////////////@at-root

