mat-grid-tile {
    background: rgb(219, 133, 133);
  }
.text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 8px;
  font-size: x-large;
  line-height: 1cm;
}
.title{
  font-size: xx-large;
  text-align: center;
}

.mat-toolbar-row{
  margin-top: 0%;
  background-color:rgb(43, 226, 119);
  color: black;
}

.span {
  margin: auto;
  padding-top: 0%;
}