table {
    width: 100%;
    align-items: center;
  }

.tabla{
    //text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}


.span {
  margin: auto;
  padding-top: 0%;
}
.header{
  margin-top: 0%;
  background-color:rgb(43, 226, 119);
  color: black;
}